
logging:
  level:
    com.aronim.cloud: DEBUG
    com.netflix: WARN
    org.hibernate: WARN
    org.springframework: WARN

security:
  user:
    password: password

endpoints:
  shutdown:
    enabled: true
  restart:
    enabled: true

eureka:
  instance:
    metadataMap:
      instanceId: ${spring.application.name}:${spring.application.instance_id:${random.value}}

spring:
  redis:
    host: localhost
    port: 6379
  rabbitmq:
    host: localhost
    port: 5672
    username: kdc
    password: kdc
    virtualHost: kdc
  stream:
    kafka:
      binder:
        brokers: localhost
  resources:
    cachePeriod: 604800 # 7 days