
security:
  user:
    password: password

endpoints:
  shutdown:
    enabled: true
  restart:
    enabled: true

eureka:
  instance:
    metadataMap:
      instanceId: ${spring.application.name}:${spring.application.instance_id:${random.value}}

server:
  tomcat:
    compression: on

spring:
  redis:
    host: localhost
    port: 6379
  rabbitmq:
    host: localhost
    port: 5672
    username: kdc
    password: kdc
    virtualHost: kdc
